{% extends 'projects/base_projects.html' %}

{% block project_content %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Справочник инструментов</h4>
            {% if perms.projects.add_tool %}
                <a href="{% url 'tool_import' %}" class="btn btn-sm btn-success sm-2">
                    <i class="bi bi-file-excel me-2"></i>Импорт из Excel
                </a>
                <a href="{% url 'tool_create' %}"
                   class="btn btn-sm btn-primary sm-2"
                   data-modal-form
                   data-modal-title="Добавление нового инструмента">
                    <i class="bi bi-plus-circle me-2"></i>Добавить инструмент
                </a>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Артикул</th>
                        <th>Название</th>
                        <th>Ресурс</th>
                        <th>Диаметр (мм)</th>
                        <th>Длина (мм)</th>
                        <th>Создатель</th>
                        <th>Дата создания</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tool in tools %}
                        <tr>
                            <td>{{ tool.article }}</td>
                            <td>{{ tool.name }}</td>
                            <td>{{ tool.resource }}</td>
                            <td>{{ tool.diameter }}</td>
                            <td>{{ tool.length }}</td>
                            <td>{{ tool.creator.username }}</td>
                            <td>{{ tool.created_at|date:"d.m.Y H:i" }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    {% if perms.projects.change_tool %}
                                        <a href="{% url 'tool_edit' tool.id %}"
                                           class="btn btn-sm btn-primary"
                                           data-modal-form
                                           data-modal-title="Редактирование инструмента">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                    {% endif %}
                                    {% if perms.projects.delete_tool %}
                                        <form method="post"
                                              action="{% url 'tool_delete' tool.id %}"
                                              data-delete-form
                                              data-entity-type="инструмент"
                                              data-entity-name="{{ tool.name }}"
                                              class="d-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-danger">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">Нет доступных инструментов</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}